{% extends "common/index_bootstrap.html.twig" %}

{% block extra_content %}
    <div id="DIALOG"></div>
{% endblock %}
{% block bodyJavascript %}
    <script>
        var lightboxApp = lightboxApplication.bootstrap({
            lang: '{{ app.locale }}',
            baseUrl: '{{ app['request_stack'].currentRequest.getUriForPath('/') }}',
            basePath: '{{ app.request_stack.currentRequest.basePath|e('js') }}'
        });
    </script>
{% endblock %}
